body{
    overflow: hidden;
    margin: 0;
}

.shooting2{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    cursor: none;
}

.shooting2>img:nth-child(1){
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.shooting2>img:nth-child(2){
    position: absolute;
    width: 30vw;
    height: 30vh;
    /*z-index: 5;*/
    top: 70vh;
}

.shooting2>img:nth-child(3){
    position: absolute;
    width: 4vw;
    height: 7vh;
    /*z-index: 8;*/
}
.shooting2>img:nth-child(4){
    position: absolute;
    width: 0.5vw;
    height: 3vh;
    top: 76vh;
    display: none;
}
.shooting2>img:nth-child(5) {
    position: absolute;
    width: 0.5vw;
    height: 3vh;
    display: none;
}
.shooting2>img:nth-child(6) {
    position: absolute;
    width: 13vw;
    height: 15vh;
    top: 86vh;
}
.bird2{
    background-image: url("../assest/img/bird.gif");
    width: 5vw;
    height: 8vh;
    position: absolute;
    background-size: cover;
    /*z-index: 11;*/
}
.fire2{
    background-image: url("../assest/img/fire.gif");
    width: 5vw;
    height: 8vh;
    position: absolute;
    background-size: cover;
    display: none;
}
#bird_1_2{
    animation: flying_1_2 15s infinite;
    transform: rotateY(180deg);
}
#bird_2_2{
    animation: flying_2_2 23s infinite;
    transform: rotateY(180deg);
}
#bird_3_2{
    animation: flying_3_2 18s infinite;
}
#bird_4_2{
    animation: flying_4_2 25s infinite;
}
.zombi2{
    width: 6vw;
    height: 14vh;
    position: absolute;
    background-size: cover;
    /*z-index: 11;*/
}
#zombiBos2{
    background-image: url("../assest/img/zombi bos.gif");
    transform: rotateY(180deg);
}
#zombi_1_2{
    background-image: url("../assest/img/zombi_1.gif");
    transform: rotateY(180deg);
}
#zombi_2_2{
    background-image: url("../assest/img/zombi_2.gif");
}
#zombi_3_2{
    background-image: url("../assest/img/zombi_3.gif");
}










/*=========Animation==============*/

@keyframes flying_1_2 {
    0%{
        right: 105%;
        top: 10%;
    }
    100%{
        right: -5%;
        top: 25%;
    }
}

@keyframes flying_2_2 {
    0%{
        right: 110%;
        top: 20%;
    }
    100%{
        right: -10%;
        top: 5%;
    }
}
@keyframes flying_3_2 {
    0%{
        right: -5%;
        top: 3%;
    }
    100%{
        right: 105%;
        top: 25%;
    }
}
@keyframes flying_4_2 {
    0%{
        right: -10%;
        top: 10%;
    }
    100%{
        right: 110%;
        top: 2%;
    }
}
